---
import BaseHeader from "../../components/BaseHeader.astro";
import RootLayout from "../../layouts/RootLayout.astro";
import Hero from "./_components/Hero.astro";
import PopularShows from "./_components/PopularShows.astro";
---

<RootLayout>
  <div class="flex h-full w-full flex-col">
    <BaseHeader />
    <div class="h-full w-full pt-24">
      <main class="flex h-full w-full flex-col items-center gap-16 pt-4">
        <Hero />
        <div>
          <div class="min-h-12 w-full rounded-t-[100%] bg-zinc-50"></div>
          <div
            class="flex h-full w-full flex-col items-center gap-8 bg-zinc-50 pb-10"
          >
            <h2 class="text-xl font-bold">Popular TV Shows</h2>
            <PopularShows />
          </div>
        </div>
      </main>
    </div>
  </div>
</RootLayout>
