---
import SearchBar from "../../../components/SearchBar.astro";
---

<div class="flex flex-col gap-8 px-8">
  <div class="flex flex-col gap-2 text-center">
    <h1 class="text-4xl font-bold">Spend Every Night on a Great Show</h1>
    <p class="font-medium text-zinc-500">
      Check IMDb ratings at a glance and find the series worth your time
    </p>
  </div>
  <div class="w-full sm:px-8">
    <SearchBar />
  </div>
</div>
