---
import TvShowLink from "../../../components/TvShowLink.astro";
import type { TvShowListResponse } from "../../../types/tmdbApi/tvShow";
import { tmdbFetch } from "../../../utils/tmdbFetch";

const getPopularShows = async () => {
  try {
    const res = await tmdbFetch("/tv/popular", {
      locale: Astro.currentLocale,
      page: "1",
    });

    if (!res.ok) {
      console.error("TMDB error:", res.status, res.statusText);
      return null;
    }

    return (await res.json()) as TvShowListResponse;
  } catch (err) {
    console.error("Fetch failed:", err);
    return null;
  }
};

const shows = await getPopularShows();
---

{
  !!shows && (
    <div class="flex w-full flex-wrap items-center justify-center gap-8 bg-zinc-50 px-8 md:px-20">
      {shows?.results.map((show) => (
        <TvShowLink show={show} />
      ))}
    </div>
  )
}

{!shows && <p>something went wrong</p>}
