---
import { twMerge } from "tailwind-merge";

interface Props {
  rating: number | undefined;
  className?: string;
}

const { rating, className } = Astro.props;
---

<div
  class={twMerge(
    "flex h-10 w-10 items-center justify-center rounded-md bg-zinc-100 font-medium text-white",
    className
  )}
>
  <span>{rating ?? "-"}</span>
</div>
