---
import { asc, eq } from "drizzle-orm";
import { db } from "../../../../db/drizzle";
import { episodes, ratings } from "../../../../db/schema";
import Season from "./Season.astro";

interface Props {
  imdbId: string;
}

const { imdbId } = Astro.props;

const { t } = Astro.locals;

const getRatings = async () => {
  try {
    const eps = await db
      .select({
        season: episodes.seasonNumber,
        episode: episodes.episodeNumber,
        tconst: episodes.tconst,
        rating: ratings.averageRating,
      })
      .from(episodes)
      .leftJoin(ratings, eq(episodes.tconst, ratings.tconst))
      .where(eq(episodes.parentTconst, imdbId))
      .orderBy(asc(episodes.seasonNumber), asc(episodes.episodeNumber));

    const seasonsMap = Map.groupBy(eps, (e) => e.season);
    const seasons = Array.from(seasonsMap.entries());

    return { seasons, error: undefined };
  } catch (e) {
    return { seasons: undefined, error: t("common.somethingWentWrong") };
  }
};

const { seasons, error } = await getRatings();
---

{!!error && <p>{error}</p>}

{
  !error && seasons && (
    <div class="flex w-full gap-4 overflow-x-auto">
      {seasons.map(([seasonNumber, episodes]) =>
        seasonNumber ? (
          <Season seasonNumber={seasonNumber} episodes={episodes} />
        ) : null
      )}
    </div>
  )
}
