---
import Rating from "./Rating.astro";

interface Props {
  seasonNumber: number;
  episodes: Episode[];
}

type Episode = {
  tconst: string;
  episode: number | null;
  rating: number;
};

const { seasonNumber, episodes } = Astro.props;
---

<div class="flex flex-col items-center gap-2">
  <h6 class="font-bold">{seasonNumber}</h6>

  {
    episodes.map((episode) => (
      <Rating
        rating={episode.rating}
        seasonNumber={seasonNumber}
        episodeNumber={episode.episode}
      />
    ))
  }
</div>
