---
import Rating from "./Rating.astro";
import { getLocale } from "../../../../i18n/utils";
import { getRatings } from "../../../../db/redis";

interface Props {
  imdbId: string | undefined;
}

const { imdbId } = Astro.props;

const getAverageRating = async () => {
  if (!imdbId) {
    return;
  }

  const show = await getRatings(imdbId);

  return show;
};

const ratingData = await getAverageRating();

const formatter = new Intl.NumberFormat(getLocale(Astro.currentLocale));
---

{
  !!ratingData && (
    <div class="flex items-center gap-2 rounded-xl bg-zinc-100 p-2">
      <Rating rating={ratingData.averageRating} />
      <span class="text-zinc-600">
        ({formatter.format(ratingData.numVotes ?? 0)})
      </span>
    </div>
  )
}
