---
import type { TVShowDetails } from "../../../../types/tmdbApi/tvShowDetails";
import { tmdbFetch } from "../../../../utils/tmdbFetch";

const { t } = Astro.locals;

const { showId } = Astro.props as { showId: string };

const getShowDetails = async () => {
  try {
    const res = await tmdbFetch(`/tv/${showId}`, {
      locale: Astro.currentLocale,
    });

    if (!res.ok) {
      return { error: t("show.notFound"), showDetails: undefined };
    } else {
      const showDetails = (await res.json()) as TVShowDetails;
      return { error: undefined, showDetails };
    }
  } catch (e) {
    return { error: t("show.notFound"), showDetails: undefined };
  }
};

const { error, showDetails } = await getShowDetails();
---

{!!error && <p>{error}</p>}
{
  !error && (
    <>
      <h1 class="text-lg font-bold">{showDetails!.name}</h1>

      {showDetails!.poster_path && (
        <div>
          <img
            class="w-72 rounded-xl"
            src={`https://image.tmdb.org/t/p/w500/${showDetails!.poster_path}`}
            alt={`${showDetails!.name} poster`}
          />
        </div>
      )}

      <p>{showDetails!.overview}</p>
    </>
  )
}
