---
import { type Ratings } from "../../../../db/redis";
import { getLocale } from "../../../../i18n/utils";
import Rating from "./Rating.astro";

interface Props {
  ratings: Ratings | undefined;
}

const { ratings } = Astro.props;

const formatter = new Intl.NumberFormat(getLocale(Astro.currentLocale));
---

{
  !!ratings && (
    <div class="flex items-center gap-2 rounded-xl bg-zinc-100 p-2 dark:bg-zinc-800">
      <Rating rating={ratings.averageRating} />
      <span class="text-zinc-600 dark:text-zinc-400">
        ({formatter.format(ratings.numVotes ?? 0)})
      </span>
    </div>
  )
}
