---
import BaseSearchLayout from "../../../layouts/BaseSearchLayout.astro";
import Ratings from "./_components/Ratings.astro";
import ShowDetails from "./_components/ShowDetails.astro";

const { showId } = Astro.params;

const HOUR = 60 * 60;

Astro.response.headers.set(
  "Cache-Control",
  `public, max-age=${24 * HOUR}, s-maxage=${24 * HOUR}`
);
---

<BaseSearchLayout>
  <div class="flex w-full flex-col gap-8 px-8 pb-8 md:flex-row md:px-12">
    <div
      class="flex h-fit min-h-128 w-full min-w-72 flex-col gap-2 rounded-xl border border-zinc-100 bg-zinc-50 p-4 md:w-72 md:p-8"
    >
      <ShowDetails showId={showId} />
    </div>
    <div
      class="flex w-full flex-col gap-4 overflow-x-auto rounded-xl border border-zinc-100 bg-zinc-50 p-4 md:w-fit md:p-8"
    >
      <h2 class="text-lg font-bold">Ratings</h2>
      <Ratings showId={showId} />
    </div>
  </div>
</BaseSearchLayout>
