---
import { fallbackLanguage, languageCookieKey } from "../utils/constants";

const preferredLanguage = Astro.cookies.get(languageCookieKey)?.value;

if (preferredLanguage) {
  return Astro.redirect(`/${preferredLanguage}`);
}

const browserLocale = Astro.preferredLocale;

if (browserLocale) {
  return Astro.redirect(`/${browserLocale}`);
}

return Astro.redirect(`/${fallbackLanguage}`);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
</html>
