@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-geist-sans);
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  font-variant-ligatures: none;
}
