---
import { Search } from "@lucide/astro";
import { getLocaleLink } from "../i18n/utils";

const { t } = Astro.locals;

const searchUrl = getLocaleLink(Astro.currentLocale, "/search");
---

<form
  action={searchUrl}
  class="flex w-full items-center justify-between rounded-full border border-zinc-200 bg-zinc-100 p-2 shadow-zinc-100 ring-blue-500 transition focus-within:ring-2 hover:shadow-lg"
>
  <div class="flex h-full w-full items-center gap-2 px-2">
    <div class="text-zinc-500">
      <Search size={20} />
    </div>
    <input
      name="q"
      autocomplete="off"
      class="h-full w-full font-medium outline-none placeholder:text-zinc-500"
      placeholder={t("components.searchBar.placeholder")}
    />
  </div>
  <button
    type="submit"
    class="h-11 rounded-full bg-black px-8 font-medium text-white transition hover:bg-zinc-700"
  >
    {t("components.searchBar.button")}
  </button>
</form>
