---
import "../styles/global.css";
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TV Stats</title>
  </head>
  <body class="h-full w-full">
    <slot />
  </body>
</html>
