---
import "../styles/global.css";
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="light dark" />
    <title>TV Stats</title>
    <script is:inline>
      (() => {
        const stored = localStorage.getItem("theme");
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;

        if (stored === "dark" || (!stored && prefersDark)) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>
  <body
    class="h-full w-full bg-white text-black dark:bg-zinc-900 dark:text-white"
  >
    <slot />
  </body>
</html>
